@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.blur {
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: rgba(255, 255, 255, 0.1), solid;
  border-radius: 50px;
  margin: 20px;
  padding: 80px;
}

body {
  background-image: url("/Files/Images/backgoundMain.svg");
  background-size: cover;
  background-position: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: #272727;
  height: auto;
  width: 100%;
  align-items: center;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left a,
.navbar-center a,
.navbar-right a {
  color: #f0efef;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease;
}
.navbar-left a:hover,
.navbar-center a:hover,
.navbar-right a:hover {
  background-color: #393836;
}

.github, .facebook {
  fill: white;
  height: 32px;
  width: 32px;
  display: block;
}
.github path, .facebook path {
  fill: inherit;
}

#Signup {
  padding: 20px;
  width: 500px;
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 900;
  font-size: 2rem;
}
#Signup p {
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
}
#Signup p a {
  color: cyan;
}
#Signup #SignupInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#Signup #SignupInput div {
  display: flex;
}
#Signup #SignupInput div input {
  width: 100%;
  color: white;
  text-decoration: none;
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  padding: 10px;
  margin: 10px 40px 10px 10px;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  outline: none;
}
#Signup #SignupInput div input::-moz-placeholder {
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
}
#Signup #SignupInput div input::placeholder {
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
}
#Signup #SignupInput div label {
  justify-content: center;
  align-items: center;
  display: flex;
}
#Signup #SignupInput button {
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#Signup #SignupInput button:hover {
  background-color: white;
  color: black;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}/*# sourceMappingURL=Account.css.map */