@import 'Base/Reset.scss';
@import 'Base/Mixins';
@import 'Base/Variables';
@import 'Base/Typhography';
@import 'Layout/Footer';
@import 'Layout/Grid';
@import 'Layout/Header';
@import 'Layout/Nav';
@import 'Components/Buttons';
@import 'Components/Cards';
@import 'Components/Modals';
@import 'Pages/AboutUs';
@import 'Pages/Account';
@import 'Pages/Contact';
@import 'Pages/MainPage';
body {
   background-color: rgb(34, 32, 32);
}