.navigation {
  background-color: #43c6ac;
  height: auto;
  width: 100%;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 20px;
  border-left: 1px solid #C33F45;
  border-right: 1px solid #C33F45;
}
.navbar a:not(:first-child) {
  border-left: none;
}
.navbar a:hover {
  background-color: #bbb;
}

body {
   background-color: rgb(34, 32, 32);
}