// Pasek nawigacyjny i menu

.navigation {
	background-color: #272727;
	height: auto;
	width: 100%;
	align-items: center;
	font-family: "Funnel Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		color: rgb(240, 239, 239);
		text-align: center;
		padding: 20px;
		border-left: 3px solid #333333;
		border-right: 3px solid #333333;

		&:not(:first-child) {
			border-left: none;
		}

		&:hover {
			background-color: #393836;
		}
	}
}
