// Pasek nawigacyjny i menu

.navigation {
	background-color: #272727;
	height: auto;
	width: 100%;
	align-items: center;
	font-family: "Funnel Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.navbar-left, 
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;

	a {
		color: #f0efef;
    	text-decoration: none;
    	padding: 15px;
    	transition: background-color 0.3s ease;
		
	
		&:hover {
			background-color: #393836;
		}
	}
}

.github, .facebook {
	fill: white;
	height: 32px;
	width: 32px;
	display: block;


	path {
		fill: inherit;
	}
}

