// ===== BASE =====
@use 'Base/Reset.scss';
@use 'Base/Mixins';
@use 'Base/Variables';
@use 'Base/Typhography';

// ===== LAYOUT =====
@use 'Layout/Footer';
@use 'Layout/Grid';
@use 'Layout/Header';
@use 'Layout/Nav';

// ===== COMPONENTS =====
@use 'Components/Buttons';
@use 'Components/Cards';
@use 'Components/Modals';
// ===== PAGES =====
@use 'Pages/AboutUs';
@use 'Pages/Account';
@use 'Pages/Contact';
@use 'Pages/MainPage';

body {
   background-color: rgb(34, 32, 32);
}