// Strona "O Nas'
body {
    background-image: url("/Files/Images/backgrounMain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.opis {
    color: white;
    font-size: x-large;
    background-color: rgb(255, 102, 0);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
} 