// Strona "Główna"
body {
    background-image: url("/Files/Images/backgrounMain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}