// Strona "Główna"
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


h1 {
    position: absolute;
    color: white;
    text-align: center;
    justify-self: center;
    top: 200px;
    font-size: 3rem;
}
